[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docutils = "*"
cssselect = "*"
lxml = "*"
pytz = "*"
six = "*"
snowballstemmer = "*"
Sphinx = "==1.7.9"
sphinxcontrib-blockdiag = "*"
sphinxcontrib-googleanalytics = "*"
sphinxcontrib-nwdiag = "*"
"sphinxcontrib.gist" = "*"
MarkupSafe = "*"
Pygments = "*"
Tinkerer = "==1.7.1"
requests = ">=2.20.0"
pip = "*"

[dev-packages]

[requires]
python_version = "3.7"
