[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docutils = "*"
cssselect = "*"
lxml = "*"
pytz = "*"
six = "*"
snowballstemmer = "*"
sphinxcontrib-blockdiag = "*"
sphinxcontrib-googleanalytics = "*"
sphinxcontrib-nwdiag = "*"
"sphinxcontrib.gist" = "*"
MarkupSafe = "*"
Pygments = "*"
requests = ">=2.20.0"
pip = "*"
sphinx = "*"

[dev-packages]

[requires]
python_version = "3.7"

[packages.Tinkerer]
git = "https://github.com/mkouhei/tinkerer"
editable = true
ref = "sphinx_2.4.x"
