# should install libxml2-dev, libxslt1-dev, libfreetype6-dev, graphviz
MarkupSafe
Pygments
docutils
#-e git://github.com/vladris/tinkerer.git#egg=Tinkerer
Tinkerer==1.7.1
cssselect
lxml
pytz
six
snowballstemmer
sphinxcontrib-blockdiag
sphinxcontrib-googleanalytics
sphinxcontrib-nwdiag
sphinxcontrib.gist
#wsgiref
