.strike {
    text-decoration: line-through;
}
div#ad0 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.fb_iframe_widget > span {
    vertical-align: baseline !important;
}
.pocket-btn{
    display:inline-block;
}
